VoteITClient/VoteITClient/Service References/VoteServiceReference/Vote.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vote" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9311/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9311/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9311/?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:9311/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVote_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="IVote_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_GetQuestionByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByUser" />
  </wsdl:message>
  <wsdl:message name="IVote_GetQuestionByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_GetQuestionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionDetails" />
  </wsdl:message>
  <wsdl:message name="IVote_GetQuestionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_InsertQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuestion" />
  </wsdl:message>
  <wsdl:message name="IVote_InsertQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_GetAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswers" />
  </wsdl:message>
  <wsdl:message name="IVote_GetAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IVote_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_InsertResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_InsertResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="IVote_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_Voted_InputMessage">
    <wsdl:part name="parameters" element="tns:Voted" />
  </wsdl:message>
  <wsdl:message name="IVote_Voted_OutputMessage">
    <wsdl:part name="parameters" element="tns:VotedResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IVote_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVote_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IVote_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IVote">
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetQuestion" message="tns:IVote_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetQuestionResponse" message="tns:IVote_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetQuestionByUser" message="tns:IVote_GetQuestionByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetQuestionByUserResponse" message="tns:IVote_GetQuestionByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetQuestionDetails" message="tns:IVote_GetQuestionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetQuestionDetailsResponse" message="tns:IVote_GetQuestionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/InsertQuestion" message="tns:IVote_InsertQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/InsertQuestionResponse" message="tns:IVote_InsertQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetAnswers" message="tns:IVote_GetAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetAnswersResponse" message="tns:IVote_GetAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetCategory" message="tns:IVote_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetCategoryResponse" message="tns:IVote_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/InsertResponse" message="tns:IVote_InsertResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/InsertResponseResponse" message="tns:IVote_InsertResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/GetResult" message="tns:IVote_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/GetResultResponse" message="tns:IVote_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Voted">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/Voted" message="tns:IVote_Voted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/VotedResponse" message="tns:IVote_Voted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/Login" message="tns:IVote_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/LoginResponse" message="tns:IVote_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IVote/Register" message="tns:IVote_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVote/RegisterResponse" message="tns:IVote_Register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVote" type="tns:IVote">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuestion">
      <soap:operation soapAction="http://tempuri.org/IVote/GetQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionByUser">
      <soap:operation soapAction="http://tempuri.org/IVote/GetQuestionByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionDetails">
      <soap:operation soapAction="http://tempuri.org/IVote/GetQuestionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertQuestion">
      <soap:operation soapAction="http://tempuri.org/IVote/InsertQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswers">
      <soap:operation soapAction="http://tempuri.org/IVote/GetAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IVote/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertResponse">
      <soap:operation soapAction="http://tempuri.org/IVote/InsertResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/IVote/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Voted">
      <soap:operation soapAction="http://tempuri.org/IVote/Voted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IVote/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IVote/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vote">
    <wsdl:port name="BasicHttpBinding_IVote" binding="tns:BasicHttpBinding_IVote">
      <soap:address location="http://localhost:9311/Student" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>